{% if content.data %}
    <div class="metier-detail-document">
        <p class="document-head-detail-metier">Documents</p>
        {% for key, ele in content.data %}
            {{ ele }}
                <div class="all-element-doc">
                    <div class="img-and-title">
                        {{ ele.img_link }}
                    </div>
                    <div class="date-creation-and-file-size">
                        <p class="title-docmetier">{{ele.filename}} </p>
                        <p><span class="date-created-docmetier">Date : {{ele.created_at }} </span>
                        <span class="size-docmetier"> | {{ele.size}} Ko</span></p>
                        <div class="metier-link-down-doc">
                            {{ ele.link }}
                        </div>
                    </div>
                </div>
            {% if not loop.last and loop.length > 1 %}
                <hr class="doc-hr">
            {% endif %}
        {% endfor %}
    </div>
{% endif %}