{# '#theme' => 'phenix_custom_block_custom_last_doc' est dans le fichier .module #}
{% if content.there_is_a_document %}
<div class="medium-12">
    {% if not content.is_page_last_doc  %}
      <div class="last-doc-title">
        
        <h2 class="main-title-last-doc"><i class="fas fa-file"></i>{{ content.first_title }}</h2>
      </div>
    {% else %}  
        <h2 class="main-title-last-doc">{{ content.term_name ~  ' - ' ~ content.document_year }}</h2>
    {% endif %}
    <div class="first-element-doc">
      <a href="/media/{{ content.first_element_id }}/download" class="custom-icon-first-element">
        <img src="/files/assets/{{ content.file_type }}">
      </a>  
      <div class="content-frist-doc">
        <div class="detail-title-resume-first-doc">
          <h2 class="title-first-doc">
            <a href="/media/{{ content.first_element_id }}/download">
              {{ content.first_element_title }}
            </a>
          </h2>
          {% if (content.resume) %}
            <div class="extrait-resume">{{ content.resume|raw }}</div>
          {% endif %}
        </div>

        <div class="detail-date-button-first-doc">
          <div  class="date-size-first-doc ">
            <span>{{ content.date_doc }}  | {{ content.file_size }} Ko </span>
              {% if content.first_type_de_document %}
                <span class="type-first-doc">
                    {{ content.first_type_de_document }} 
                </span>
              {% endif %}
              {% if content.can_edit_doc %}
                <a href="/media/{{ content.first_element_id }}/edit" class="edit-doc-button btn-ask-question-home"><i class="fas fa-edit"></i> Modifier</a>
              {% endif %}
          </div>
          <a href="/media/{{ content.first_element_id }}/download" class="media-download-file-first"><i class='icon-custom-download-file'></i>Télécharger le document</a>
        </div>
  </div>
  </div>

  {% if content.display_see_other_doc %}
    <div class="line-container-plus">
      <hr class="hr-line-accoredon"> 
      <a class="btn-see-other-doc"><i class="fa fa-angle-double-down" aria-hidden="true"></i> Voir les autres documents <i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
      <hr class="hr-line-accoredon">
    </div>
  {% endif %}  
</div>

<div class="max-w-xl mx-auto px-8 py-6 custom-my-account section-others-documents">
  {% set temp_title = '' %}
  {% set i = 0 %}
  {% set temp_year = '' %}
  {% for title, elm in content.data %}
    {% if (temp_title != title)%}
    <div class="title-and-chevron">
      {% if (i>0) and content.is_page_last_doc %}
        <hr class="hr-other-doc">
      {% endif %}  
    {% endif %}
    {% set id_para = '' %}
    {% set tmp = '' %}
    {% for each_data in elm %}
        {% if (temp_year != each_data['document_year']) %}
          <h2 class="main-title doc-year"> {{ each_data['term_name'] ~ ' - ' ~ each_data['document_year'] }} </h2>
        {% endif %}  
        {% set temp_year = each_data['document_year'] %}
        {% set id_para = each_data['paragraph_id'] %}
      <div class="section-document custom-section-doc">
        <a href="/media/{{ each_data['fileId'] }}/download" class="custom-icon-document each-img-link">
          <img class="" src="/files/assets/pdf-3.png">
        </a>
        <div class="description-with-date-size">
          <a href="/media/{{ each_data['fileId'] }}/download" class="each-img-link">
            <span class="description">{{ each_data['description'] }}</span>
          </a>
          <div class="date-and-size">
            <span class="date-creation">{{ each_data['created_at'] }}  <span>
              {% if each_data['size'] %}
                <span class="file-size">| {{ each_data['size'] }} Ko<span> 
              {% endif %}

              {% if each_data['type_document'] %}
                | <span class="type-doc">{{ each_data['type_document'] }}<span>
              {% endif %}
              {% if content.can_edit_doc %}
                <a href="/media/{{ each_data['media_id'] }}/edit" class="edit-doc-button btn-ask-question-home"> <i class="fas fa-edit"></i>Modifier</a>
              {% endif %}
          </div>
        </div>
      </div>


    {% endfor %}
    {% if (tmp != id_para)%}
      <div class="btn-download-files">
        <a href="/media_download_all/paragraph/{{ id_para }}/field_document" class="media-download-all">Télécharger les fichiers <i class="fa fa-file-archive" aria-hidden="true"></i></a>
      </div>
    {% endif %} 
    {% set tmp = id_para %}
    {% set temp_title = title %}
    {% set i = i + 1 %}
  {% endfor %}

  <div class="line-container-moins">
    <hr class="hr-line-accoredon"> 
    <a class="btn-dismiss-other-doc"><i class="fa fa-angle-double-up" aria-hidden="true"></i> Masquer la liste des documents <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
    <hr class="hr-line-accoredon">
  </div>

</div>

{% endif %}