{% if content.has_result %}
<div class="document-content">
    <div class="default-content-doc">
        <a href="/media/{{ content.media_id }}/download"><h3>{{ content.title }}</h3></a><p class="doc-created-at">  {{ "Publié le " ~ content.published_on |raw}}</p>
    </div>
    <div class="doc-resume">
        <p class="doc-resume">{{ content.resume|raw }}</p>
    </div>
    <div class="doc-info">
        {% if content.filiere %}
         <span class="libelle-filiere-doc"></span><span class="doc-filiere">{{ content.filiere }}</span> |
        {% endif %}
        {% if content.type_document %}
            <span class="libelle-type-doc"></span><span class="doc-type">{{ content.type_document }}</span>
        {% endif %}
        {% if content.can_edit_doc %}
            <a href="/media/{{ content.media_id }}/edit" class="edit-doc-button btn-ask-question-home"> <i class="fas fa-edit"></i>Modifier</a>
        {% endif %}
    </div>
</div>

{% endif %}